<div class="container">
    <div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="col">
                    <h1>Artist Savor</h1>
                    <p>Sock - Away for a rainy day</p>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#loginIn"><i
                                class="fas fa-user"></i>
                            Log-in</button>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#signUpMod"><i
                                class="fas fa-user-plus"></i>
                            Create Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Create Account -->
<div class="modal" id="signUpMod" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="signup">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email Address</label>
                        <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp"
                            placeholder="Me@domain.com" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password-input" placeholder="Password" required>
                    </div>
                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span> <span class="msg"></span>
                    </div>
                    <button type="submit" class="btn btn-info">Submit <i class="fas fa-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Log-in -->
<div class="modal" id="loginIn" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log-in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="login">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email Address</label>
                        <input type="email" class="form-control" id="emailLog-input" aria-describedby="emailHelp"
                            placeholder="Me@domain.com" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="passwordLog-input" placeholder="Password"
                            required>
                    </div>
                    <button type="submit" class="btn btn-info">Submit <i class="fas fa-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/artist.js"></script>