<section id="search" class="search-wrap">
    <h1>Find your Artist Savor Account</h1>
    <form class="search-form">
        <input type="search" id="itemSearched" placeholder="acct number">
        <input type="submit" value="Search">
    </form>
</section>