form.signup,
form.login {
  margin-top: 50px;
}


body {
  background: rgb(166, 178, 180);
  background-size: cover;
  min-height: 680px;
  width: 100%;
  margin: 0px, 0px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
}




.main {
  padding-top: 75px;
  padding-left: 25px;
  position: center;
}

.navbar {
  border-radius: 25px;
  background: coral;
  padding: 20px;
  width: 120px;
  height: 70px;
}


.form-group {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  position: absolute;
  top: 65%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgb(0, 69, 172);
  color: whitesmoke;
  text-align: center;
}

#jumbotron1 {
  background: transparent;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

#jumbotron2 {
  background: transparent;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
